.LinksList_Container {
  background-color: #32a4dc;
  border-radius: 0.2rem;
  margin-top: 0.5rem;
  height: 15rem;
  width: 100%;
  text-align: start;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#Back_Button {
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 900;
  color: white;
}
