form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 1rem;
  border-radius: 0.2rem;
  line-height: 2rem;
  text-align: start;
}

.username_input_field::placeholder {
  color: white;
}

.password_input_field::placeholder {
  color: white;
}

button:disabled,
button[disabled] {
  border: 0px solid #32a4dc;

  color: white;
}
button {
  border: 0px solid green;
  background-color: green;
  cursor: pointer;
  color: white;
  border-radius: 0;
}

.Input_Container {
  width: 40%;
  margin-left: 10%;
}

.Welcome_Container {
  width: 60%;
  text-align: start;
  margin-left: 10%;
}

.Welcome_Name {
  font-size: 1.5rem;
}

.Welcome_Quote {
  font-size: 1rem;
  font-style: italic;
  font-weight: 300;
  padding-top: 1rem;
  padding-left: 1rem;
  color: white;
}

.Welcome_Quote_Author {
  font-size: 0.7rem;
  font-style: italic;
  padding-left: 1rem;
  color: white;
}

.Block_Quote {
  background-color: #32a4dc;
  border-radius: 0.2rem;
  height: 5rem;
  min-width: 11rem;
  max-width: 40rem;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.Underline_Greeting {
  margin-top: 2rem;
  background-color: white;
  border-radius: 0.2rem;
  height: 0.3rem;
  min-width: 11rem;
}

/* Above: Login Success Styling */
/* Below: Form styling */

.username_input_field {
  border-style: none;
  border-radius: 5px;
  width: 30vw;
  height: 1.8rem;
  border-style: black;
  background-color: #32a4dc;
  color: white;
  margin: 0;
  text-indent: 0.5rem;
  font-size: 0.8rem;
  font-family: "Roboto Mono", sans-serif;
}

.password_input_field {
  border-style: none;
  border-radius: 5px;
  width: 30vw;
  height: 1.8rem;
  background-color: #32a4dc;
  color: white;
  margin: 0;
  margin-top: 0.2rem;
  text-indent: 0.5rem;
  font-size: 0.8rem;
  font-family: "Roboto Mono", sans-serif;
}

.login_button {
  margin-top: 0.3rem;
  position: sticky;
  width: 0%;
  text-align: start;
  border-style: none;
  border-radius: 5px;
  height: 0;
  background-color: white;
  color: white;
  margin: 0;
  margin-top: 0.2rem;
  text-indent: 0.5rem;
  font-size: 0.8rem;
  font-family: "Roboto Mono", sans-serif;
}
