#Search_Text_Span {
  background-color: black;
  border: 0;
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  text-transform: uppercase;
  color: white;
}

#Searcher_Input {
  width: 60vw;
  height: 1.8rem;
  border-style: black;
  margin: 0;
  text-indent: 0.5rem;
}
