.Header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 2rem;
  font-size: 1rem;
  border-radius: 0.2rem;
}

.Header_Rigth_Side {
  display: flex;
  flex-direction: row;
  padding: 5px;
}
